.about-x img{
 width: 150px;
filter:grayscale();
border-radius:100%;
box-shadow:0 19px 30px rgba(0, 0, 0, 0.3), 0 15px 12px 
 rgba(0,0,0,0.1);
 transition: 0.4s filter ease;
 margin-left:15rem;
 margin-top: 4rem;
}

.about-x{
	justify-content: center;
}


.DogDetails-card  img{
	filter:grayscale();
		transition: 0.4s filter ease
	 }
	
	 .DogDetails-card:hover img{
		filter: none;
	};
	
	@media only screen  and (max-width: 600px){	
		 .card{
			width: 80px;
		 filter:grayscale();
		 border-radius:100%;
		 box-shadow:0 19px 30px rgba(0, 0, 0, 0.3), 0 15px 12px 
			rgba(0,0,0,0.1);
			transition: 0.4s filter ease;
			 margin-left:6rem;
				margin-top: 2rem;
		 }
		/* .text-size{
			font-size: 20px;
			font-family: sans-serif;
		} */


	}
